body {
    background-color: #2c2f2c;
    /*background-image: url('./img/fon.jpeg');*/
}

.card-header {
    background-color: rgba(33, 37, 41, 0.78);
}

.card-body {
    background-color: #ebebeb;
}

.container {
    /*margin-top: 10px;*/
}

.footer {
    color: darkgrey;
    background-color: rgba(33, 37, 41, 0.78);
    text-align: center;
    font-style: oblique;
    margin-top: 10px;
}

/* Стиль вкладкок ссылок */
.tablink {
    background-color: rgba(87, 86, 86, 0.66);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px 3px;
    margin: 2px;
    font-size: 17px;
    width: 200px;
}

.tablink:hover {
    background-color: #777;
}

/* Стиль содержимого вкладки (и добавить высоту: 100% для полного содержимого страницы) */
.tabcontent {
    color: white;
    height: 100%;
}
.cm-s-default .cm-string {
    color: #170;
}

.cm-s-default .cm-meta {
    color: #170;
}
