<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Json Format</title>
    <link rel="shortcut icon" th:href="@{/img/ico.png}" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/codemirror.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/abbott.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/darcula.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/idea.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <!-- JS -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/codemirror.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/perl.js}"></script>
    <script th:src="@{/js/xml.mode.js}"></script>

</head>
<body>
<div class="container-fluid">
    <!--    <h6 class="footer">Форматирование в таблицу данных</h6>-->
    <div class="navbar-dark">
        <button class="btn-secondary tablink" onclick="openPage('josnFormat', this, )" id="jsonOpen">Json Format
        </button>
        <button class="btn-secondary tablink" onclick="openPage('xmlFormat', this, )" id="xmlOpen">Xml Format</button>
    </div>

    <div id="josnFormat" class="tabcontent">
        <div th:replace="parts/_json :: json_fragment()"/>
    </div>

    <div id="xmlFormat" class="tabcontent">
        <div th:replace="parts/_xml :: xml_fragment()"/>
    </div>
    <h6 class="footer">Version-1.2.1</h6>
</div>

<script th:src="@{/js/main.js}"></script>
<script>
    setTimeout(function () {
        document.getElementById('jsonOpen').click();
    }, 100);
</script>

</body>
</html>
