<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Json Format</title>
    <link rel="shortcut icon" th:href="@{/img/ico.png}" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/codemirror.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/abbott.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/darcula.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/idea.css}">

    <!-- JS -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/codemirror.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/perl.js}"></script>

    <script th:src="@{/js/mode.js}"></script>


    <style>
        body {
            background-color: #95bf95;
            background-image: url('./img/fon4.jpg');
        }

        .card-header {
            background-color: rgba(33, 37, 41, 0.78);
        }

        .card-body {
            background-color: #ebebeb;
        }

        .container {
            /*margin-top: 10px;*/
            width: 100%;
        }

        .footer {
            color: darkgrey;
            background-color: rgba(33, 37, 41, 0.78);
            text-align: center;
            font-style: oblique;
            margin-top: 10px;
        }

        .CodeMirror-scroll {
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <h6 class="footer">Форматирование json в таблицу данных</h6>
    <div class="row">
        <div class="col">
            <div class="card text-dark bg-light">
                <div class="card-header" style="justify-content: space-between;display: flex">
                    <b>Json</b>
                    <span>
                    <button class="btn-sm btn-secondary" id="btn-tab-print" onclick="tab_print()">TabPrint</button>
                    <button class="btn-sm btn-secondary" onclick="copy_json_value()">Copy</button>
                    <button class="btn-sm btn-secondary" onclick="change_text_size(0,+1)">A+</button>
                    <button class="btn-sm btn-secondary" onclick="change_text_size(0,-1)">A-</button>
                    <button class="btn-sm btn-secondary" id="btn-json-max"
                            onclick="change_size('+')"><b>[<->]</b></button>
                    <button class="btn-sm btn-secondary" style="display: none" id="btn-json-min"
                            onclick="change_size()"><b>->[]<-</b></button>
                    </span>
                </div>
                <div class="card-body">
                    <label for="json" id="json-label" class="form-label">Json</label>
                    <textarea class="form-control" id="json" rows="25"></textarea>
                </div>
            </div>
        </div>
        <div class="col-1">
            <button class="btn-sm btn-dark mt-5" style="width: 100%" id="btn-json" onclick="json_to_table()">
                <b>table-></b></button>
            <button class="btn-sm btn-dark mt-2 mb-5" style="width: 100%" id="btn-table" onclick="table_to_json()"><b><-json</b>
            </button>
        </div>
        <div class="col">
            <div class="card text-dark bg-light">
                <div class="card-header" style="justify-content: space-between;display: flex">
                    <b>Table</b>
                    <span>
                     <button class="btn-sm btn-secondary" onclick="copy_table_value()">Copy</button>
                     <button class="btn-sm btn-secondary" onclick="change_text_size(1,+1)">A+</button>
                     <button class="btn-sm btn-secondary" onclick="change_text_size(1,-1)">A-</button>
                     <button class="btn-sm btn-secondary" id="btn-table-max"
                             onclick="change_size('+')"><b>[<->]</b></button>
                     <button class="btn-sm btn-secondary" style="display: none" id="btn-table-min"
                             onclick="change_size()"><b>->[]<-</b></button>
                    </span>
                </div>
                <div class="card-body">
                    <label for="table" id="table-label" class="form-label">Table</label>
                    <textarea class="form-control" id="table" rows="25"></textarea>
                </div>
            </div>
        </div>
    </div>
    <h6 class="footer">Version-1.0</h6>
</div>
<script>
    let table
    let json
    window.onload = function (event) {
        table = CodeMirror.fromTextArea(document.getElementById('table'), {
            lineNumbers: true, // Нумеровать каждую строчку.
            mode: 'application/xml',
            // theme: "darcula",   // Установить тему

        });

        json = CodeMirror.fromTextArea(document.getElementById('json'), {
            lineNumbers: true,
            // theme: "darcula",   // Установить тему
            theme: "idea",   // Установить тему
        });

        let  them = 'idea'
        const windowInnerWidth = document.documentElement.clientWidth
        const windowInnerHeight = document.documentElement.clientHeight

        table.setSize(((windowInnerWidth / 2) - 150), (windowInnerHeight - 200));
        json.setSize(((windowInnerWidth / 2) - 150), (windowInnerHeight - 200));
        let elJson = document.getElementsByClassName('CodeMirror cm-s-default')[0];
        elJson.style.fontSize = '90%';
        let elTable = document.getElementsByClassName('CodeMirror cm-s-default')[1];
        elTable.style.fontSize = '90%';
    }

    window.addEventListener('resize', function () {
        const windowInnerWidth = document.documentElement.clientWidth
        const windowInnerHeight = document.documentElement.clientHeight

        table.setSize(((windowInnerWidth / 2) - 150), (windowInnerHeight - 200));
        json.setSize(((windowInnerWidth / 2) - 150), (windowInnerHeight - 200));

    });

    function copy_json_value() {
        let text = json.getValue();
        copyToClipboard(text, 'json-label')
    }

    function copy_table_value() {
        let text = table.getValue();
        copyToClipboard(text, 'table-label')
    }

    function copyToClipboard(str, infoLabel) {
        let area = document.createElement('textarea');
        document.body.appendChild(area);
        area.value = str;
        area.select();
        document.execCommand("copy");
        document.body.removeChild(area);
        $('<span>', {
            id: 'info'
        }).appendTo('#' + infoLabel)
        let info = document.getElementById('info');
        info.style.color = 'gray'
        info.textContent = ' Скопировано в буфер обмена'
        setTimeout(function () {
            $('#info')[0].remove()
        }, 1500);
    }

    function change_size(event) {
        if (event === '+') {
            json.setSize(1200, 600);
            table.setSize(1200, 600);
            $('#btn-table-max').hide()
            $('#btn-json-max').hide()
            $('#btn-table-min').show()
            $('#btn-json-min').show()
        } else {
            table.setSize(530, 600);
            json.setSize(530, 600);
            $('#btn-table-min').hide()
            $('#btn-json-min').hide()
            $('#btn-json-max').show()
            $('#btn-table-max').show()
        }
    }

    function change_text_size(elementNumber, step) {
        let el = document.getElementsByClassName('CodeMirror cm-s-default')[elementNumber];
        let style = window.getComputedStyle(el, null).getPropertyValue('font-size');
        let fontSize = parseFloat(style);
        el.style.fontSize = (fontSize + step) + 'px';
    }

    function tab_print() {
        let jsonObj = JSON.stringify(JSON.parse(json.getValue()), undefined, 4);
        $('#json').val(jsonObj);
        json.getDoc().setValue(jsonObj);

    }

    function json_to_table() {
        let data = {};
        data["jsonData"] = json.getValue();
        $('#btn-json').prop('disabled', true)
        $('#btn-table').prop('disabled', true)
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/json_to_data_table",
            data: JSON.stringify(data),
            dataType: 'json',
            timeout: 600000,
            success: function (data) {
                console.log("SUCCESS : ", data);
                $('#table').val(data.jsonData)
                $('#btn-json').prop('disabled', false)
                $('#btn-table').prop('disabled', false)
                table.getDoc().setValue(data.jsonData);
            },
            error: function (e) {
                console.log("ERROR: ", e);
                $('#btn-json').prop('disabled', false)
                $('#btn-table').prop('disabled', false)
            }
        });
    }

    function table_to_json() {
        let data = {};
        data["jsonData"] = table.getValue() + '\n';
        $('#btn-json').prop('disabled', true)
        $('#btn-table').prop('disabled', true)
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/data_table_to_json",
            data: JSON.stringify(data),
            dataType: 'json',
            timeout: 600000,
            success: function (data) {
                console.log("SUCCESS : ", data);
                $('#json').val(data.jsonData)
                $('#btn-json').prop('disabled', false)
                $('#btn-table').prop('disabled', false)
                json.getDoc().setValue(data.jsonData);
            },
            error: function (e) {
                console.log("ERROR: ", e);
                $('#btn-json').prop('disabled', false)
                $('#btn-table').prop('disabled', false)
            }
        });
    }
</script>
</body>
</html>
