<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="query_fragment()">

    <div class="row">
        <div class="col">
            <div class="card text-dark bg-light">
                <div class="card-header" style="justify-content: space-between;display: flex">
                    <b style="color: #198754">Query</b>
                    <span>
                    <button class="btn-sm btn-secondary" id="btn-tab-print" onclick="tab_print()">TabPrint</button>
                    <button class="btn-sm btn-secondary" onclick="copy_query_value()">Copy</button>
                    <button class="btn-sm btn-secondary" onclick="change_text_size(4,+1)">A+</button>
                    <button class="btn-sm btn-secondary" onclick="change_text_size(4,-1)">A-</button>
                <button class="btn-sm btn-secondary btn-max"
                        onclick="change_size('+')"><b>[<->]</b></button>
                      <button class="btn-sm btn-secondary btn-min"  style="display: none"
                            onclick="change_size()"><b>->[]<-</b></button>
                    </span>
                </div>
                <div class="card-body">
                    <label for="query" id="query-label" class="form-label">Query</label>
                    <textarea class="form-control" id="query" rows="25"></textarea>
                </div>
            </div>
        </div>
        <div class="col-1">
            <button class="btn-sm btn-primary mt-5" style="width: 100%" id="btn-json" onclick="query_to_table('all')">
                <b>all-></b></button>
            <button class="btn-sm btn-primary mt-2 mb-5" style="width: 100%" id="btn-table" onclick="query_to_table()"><b>not null-></b>
            </button>
        </div>
        <div class="col">
            <div class="card text-dark bg-light">
                <div class="card-header" style="justify-content: space-between;display: flex">
                    <b style="color: #198754">Step</b>
                    <span>
                     <button class="btn-sm btn-secondary" onclick="copy_step_value()">Copy</button>
                     <button class="btn-sm btn-secondary" onclick="change_text_size(5,+1)">A+</button>
                     <button class="btn-sm btn-secondary" onclick="change_text_size(5,-1)">A-</button>
                      <button class="btn-sm btn-secondary btn-max"
                        onclick="change_size('+')"><b>[<->]</b></button>
                       <button class="btn-sm btn-secondary btn-min"  style="display: none"
                             onclick="change_size()"><b>->[]<-</b></button>
                    </span>
                </div>
                <div class="card-body">
                    <label for="step" id="step-label" class="form-label">Step</label>
                    <textarea class="form-control" id="step" rows="25"></textarea>
                </div>
            </div>
        </div>
    </div>

</div>
